$backdrop__filter--privacy: blur(5px);
$bg__blend--soft: soft-light;
$bg__classes:
    "error",
    "comingsoon",
    "privacy";
$bg__comingsoon-img: "../img/spark.jpg";
$bg__error-img: "../img/unplugged.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img;
$body__min-height: 100%;
$color__bg-1: #ddd;
$color__transparent: transparent;
$font-logo__family: 'MuseoModerno', cursive;
$font-logo__size: 24px;
$font-main__family: 'Roboto', sans-serif;
$font-main__size: 16px;
$header__height: 74px;
$section__min-height: 100vh;
$theme-colors: (
  "primary": #483d8b,
);